<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182417478760-c291jm2be2cv4s8k11cpoujmkgrp6397.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182417478760-c291jm2be2cv4s8k11cpoujmkgrp6397</string>
	<key>API_KEY</key>
	<string>AIzaSyBuzp6u-xncl64lI59zsv5hWR9bo3wdGkk</string>
	<key>GCM_SENDER_ID</key>
	<string>182417478760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnabokow.trustme</string>
	<key>PROJECT_ID</key>
	<string>trustme-255715</string>
	<key>STORAGE_BUCKET</key>
	<string>trustme-255715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182417478760:ios:508aed4e657822932897dd</string>
	<key>DATABASE_URL</key>
	<string>https://trustme-255715.firebaseio.com</string>
</dict>
</plist>